<div class="set-margin">
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Product Price</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Show Product</th>
            <th scope="col">Delete Product</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.product_id }}</td>
            <td>{{ order.product_name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.product_price }}</td>
            <td>{{ order.product_price * order.quantity }}</td>
            <td><button class="btn btn-warning" (click)="showOrder(order.id)">Show order</button></td>
            <td><button class="btn btn-danger"
                (click)="deleteOrder(order.id)">Delete order</button></td>
          </tr>
        </tbody>
    </table>
</div>